
.widgets#global {
    background: url('/templates/pyvitre/image/global.jpg') left top no-repeat transparent;
}

.widgets#level0 {
    background: url('/templates/pyvitre/image/level0.jpg') left top no-repeat transparent;
}

.widgets#level1 {
    background: url('/templates/pyvitre/image/level1.jpg') left top no-repeat transparent;
}

