#dashboard {
    border: 3px solid #3e6778;
    border-radius: 8px 8px 8px 8px;
    padding: 5px 5px 5px 5px;
    background-color: white;
    position: absolute;
    bottom: 50px;
    left: 50px;
}

    #dashboard #dashboardTitle {
        font-weight: bold;
        padding: 4px 2px;
        font-size: 1.3em;
    }

    #dashboard #dashboardBody {
        width: 180px;
    }

        #dashboard #dashboardBody .dashboardLine {
            padding: 4px 2px;
            font-size: 1.2em;
        }

            #dashboard #dashboardBody .dashboardLine .dashboardLineTitleImg {
                vertical-align: middle;
                padding: 0 10px 0 0;
            }
            
            #dashboard #dashboardBody .dashboardLine .dashboardLineTitleName {
                display: inline-block;
                width: 65px;
            }

            #dashboard #dashboardBody .dashboardLine .tooltipAnchor {
                position: relative;
                top: 3px;
                left: 10px;
            }

                #dashboard #dashboardBody .dashboardLine .dashboardTooltipTitle {
                    font-weight: bold;
                    padding: 0px 0px 10px 0px;
                }

                #dashboard #dashboardBody .dashboardLine .dashboardTooltipContent {
                }

                    #dashboard #dashboardBody .dashboardLine .dashboardTooltipContent .dashboardTooltipContentLine {
                        padding: 0px 0px 4px 0px;
                    }

            #dashboard #dashboardBody .dashboardLine .popupLink {
                position: relative;
                top: 3px;
                left: 15px;
                border-bottom: none;
            }

    #dashboard #dashboardHr{
        border-top:  1px solid #3e6778;
        margin: 10px -5px 0px -5px;
        padding-bottom: 9px;
        height: 0px;
    }

    #dashboard #dashboardToolbar {
        padding: 4px;
    }
