#widgets {
}

    #widgets .widget {
        float: left;
        width: 300px;
        margin: 20px 40px;
        text-align: left;
    }
    
        #widgets .widget .widgetContent {
            padding: 0px 20px 15px 20px;
            overflow: hidden;
        }
        
            #widgets .widget .widgetContent .widgetTemperature {
                float: left;
                width: 60%;
            }
            
                #widgets .widget .widgetContent .widgetTemperature p {
                    display: inline-block;
                    vertical-align: top;
                }
            
                #widgets .widget .widgetContent .widgetTemperature .widgetTemperatureThermometer {
                    width: 45px;
                    height: 100px;
                }
            
                #widgets .widget .widgetContent .widgetTemperature .widgetTemperatureThermometer.blue {
                    background: url('/image/thermometer.png') 0px center no-repeat transparent;
                }
                
                #widgets .widget .widgetContent .widgetTemperature .widgetTemperatureThermometer.green {
                    background: url('/image/thermometer.png') -52px center no-repeat transparent;
                }
                
                #widgets .widget .widgetContent .widgetTemperature .widgetTemperatureThermometer.red {
                    background: url('/image/thermometer.png') -104px center no-repeat transparent;
                }
                
                #widgets .widget .widgetContent .widgetTemperature .widgetTemperatureValue {
                    font-size: 1.8em;
                    padding-top: 35px;
                    margin-left: -10px;
                }
                
                #widgets .widget .widgetContent .widgetTemperature .widgetTemperatureUnit {
                    padding-top: 35px;
                }
            
            #widgets .widget .widgetContent .widgetDelta {
                float: left;
                width: 40%;
            }
            
                #widgets .widget .widgetContent .widgetDelta .widgetDeltaTitle {
                    padding-top: 20px;
                    padding-bottom: 5px;
                    font-weight: bold;
                }
            
                #widgets .widget .widgetContent .widgetDelta .widgetDeltaPlusOneHour {
                    padding-bottom: 5px;
                }
            
                #widgets .widget .widgetContent .widgetDelta p {
                    vertical-align: middle;
                    display: inline-block;
                }
                
                #widgets .widget .widgetContent .widgetDelta .widgetDeltaFrequency {
                    padding-right: 5px;
                }

                #widgets .widget .widgetContent .widgetDelta .widgetDeltaImage {
                    width: 12px;
                    height: 16px;
                }
                
                #widgets .widget .widgetContent .widgetDelta .widgetDeltaImage.decrease {
                    background: url('/image/increase-decrease.png') -13px 0px no-repeat transparent;
                }
                
                #widgets .widget .widgetContent .widgetDelta .widgetDeltaImage.increase {
                    background: url('/image/increase-decrease.png') 0px 0px no-repeat transparent;
                }
                
                #widgets .widget .widgetContent .widgetDelta .widgetDeltaValue {
                    padding-left: 5px;
                }