.widgets {
    text-align: left;
    position: relative;
    width: 1200px;
    height: 737px;
}

.widgets#level0 {
    background: url('/image/level0.png') left top no-repeat transparent;
}

.widgets#level1 {
    background: url('/image/level1.png') left top no-repeat transparent;
}

    .widgets .widget {
        border: 1px solid #3e6778;
        border-radius: 4px 4px 4px 4px;
        padding: 7px 25px 10px 10px;
        background-color: white;
        position: absolute;
    }

        .widgets .widget .widgetTitle {
            font-weight: bold;
        }

        .widgets .widget .tooltipAnchor {
            position: relative;
            top: 3px;
            left: 10px;
        }

            .widgets .widget .tooltipAnchor .widgetContentTitle {
                font-weight: bold;
                padding-bottom: 10px;
                font-size: 1.2em;
            }

            .widgets .widget .tooltipAnchor .widgetContent {
                padding: 0px 20px 15px 20px;
                overflow: hidden;
            }

                .widgets .widget .tooltipAnchor .widgetContent .widgetTemperature {
                    float: left;
                    width: 60%;
                }

                    .widgets .widget .tooltipAnchor .widgetContent .widgetTemperature p {
                        display: inline-block;
                        vertical-align: top;
                    }

                    .widgets .widget .tooltipAnchor .widgetContent .widgetTemperature .widgetTemperatureThermometer {
                        width: 45px;
                        height: 100px;
                    }

                    .widgets .widget .tooltipAnchor .widgetContent .widgetTemperature .widgetTemperatureThermometer.blue {
                        background: url('/image/thermometer.png') 0px center no-repeat transparent;
                    }

                    .widgets .widget .tooltipAnchor .widgetContent .widgetTemperature .widgetTemperatureThermometer.green {
                        background: url('/image/thermometer.png') -52px center no-repeat transparent;
                    }

                    .widgets .widget .tooltipAnchor .widgetContent .widgetTemperature .widgetTemperatureThermometer.red {
                        background: url('/image/thermometer.png') -104px center no-repeat transparent;
                    }

                    .widgets .widget .tooltipAnchor .widgetContent .widgetTemperature .widgetTemperatureValue {
                        font-size: 1.8em;
                        padding-top: 35px;
                        margin-left: -10px;
                    }

                    .widgets .widget .tooltipAnchor .widgetContent .widgetTemperature .widgetTemperatureUnit {
                        padding-top: 35px;
                    }

                .widgets .widget .tooltipAnchor .widgetContent .widgetDelta {
                    float: left;
                    width: 40%;
                }

                    .widgets .widget .tooltipAnchor .widgetContent .widgetDelta .widgetDeltaTitle {
                        padding-top: 20px;
                        padding-bottom: 5px;
                        font-weight: bold;
                    }

                    .widgets .widget .tooltipAnchor .widgetContent .widgetDelta .widgetDeltaPlusOneHour {
                        padding-bottom: 5px;
                    }

                    .widgets .widget .tooltipAnchor .widgetContent .widgetDelta p {
                        vertical-align: middle;
                        display: inline-block;
                    }

                    .widgets .widget .tooltipAnchor .widgetContent .widgetDelta .widgetDeltaFrequency {
                        width: 1.5em;
                    }

                    .widgets .widget .tooltipAnchor .widgetContent .widgetDelta .widgetDeltaImage {
                        width: 12px;
                        height: 16px;
                    }

                    .widgets .widget .tooltipAnchor .widgetContent .widgetDelta .widgetDeltaImage.decrease {
                        background: url('/image/increase-decrease.png') -13px 0px no-repeat transparent;
                    }

                    .widgets .widget .tooltipAnchor .widgetContent .widgetDelta .widgetDeltaImage.increase {
                        background: url('/image/increase-decrease.png') 0px 0px no-repeat transparent;
                    }

                    .widgets .widget .tooltipAnchor .widgetContent .widgetDelta .widgetDeltaValue {
                        padding-left: 5px;
                    }

        .widgets .widget .popupLink {
            position: relative;
            top: 3px;
            left: 15px;
            border-bottom: none;
        }